@charset "UTF-8";
/*================================================================
Default Styles
================================================================*/
body {
  font-family: "Noto Sans TC", sans-serif, "微軟正黑體";
  color: black;
  background-color: cornsilk;
  margin: 0;
}

body a {
  text-decoration: none;
}

body li {
  list-style: none;
}

body strong {
  font-weight: 1000;
}

/*================================================================
Navbar
================================================================*/
.navbar {
  margin-bottom: 0;
  background: none;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.navbar-container {
  position: relative;
}

.nav {
  margin: 0 auto;
}

.navbar .navbar-nav li a {
  font-size: 14px;
  text-transform: uppercase;
  color: #2e1c05;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.navbar-default {
  border-color: none;
}

.navbar-scroll {
  background-color: #f4de7f;
}

.navbar-scroll .navbar .navbar-nav li a {
  color: white;
}

#top-social-menu {
  display: none;
}

@media (min-width: 768px) {
  .navbar {
    height: 50px;
  }
  .navbar-nav > li > a {
    padding: 0;
    margin-left: 50px;
    line-height: 50px;
  }
  #top-social-menu {
    display: initial;
  }
  /* Navbar when scrolled */
  .navbar-scroll {
    height: 50px;
    line-height: 50px;
  }
  .navbar-scroll #top-social-menu {
    display: none;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .navbar-scroll .navbar-brand {
    height: 50px;
    line-height: 50px;
  }
  .navbar-scroll .navbar-nav > li > a {
    opacity: 1;
    padding: 0;
    margin-top: 0;
  }
}

/* # Hover Link Effect
================================ */
@media (min-width: 768px) {
  .navbar-nav > li > a::after {
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #3c3c3c;
    content: "";
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  .navbar-nav > li > a:hover::after,
  .navbar-nav > li > a:focus::after {
    height: 2px;
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

/* # Social menu
================================ */
#top-social-menu {
  position: absolute;
  top: 7px;
  right: 0;
  font-size: 12px;
  z-index: 101;
  padding-right: 0px;
  list-style: none;
  color: #2e1c05;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#top-social-menu li {
  float: left;
  padding: 10px 15px;
}

#top-social-menu li:last-child {
  padding-right: 0;
}

#top-social-menu li a {
  text-decoration: none;
  color: #3c3c3c;
}

#top-social-menu li a:hover {
  text-decoration: none;
  color: #543a1a;
}

#top-social-menu i {
  font-size: 16px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

#top-social-menu i:hover {
  text-decoration: none;
  color: #543a1a;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* logo */
  .navbar-brand {
    background-image: url(/img/logo5.png) !important;
    background-repeat: no-repeat !important;
    background-size: 72px 43px !important;
  }
}

.scene {
  padding: 0;
  margin: 0;
}

/*================================================================
  Starry Sky
  Trick created by Andrey https://www.script-tutorials.com/night-sky-with-twinkling-stars/
  ================================================================*/
@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.stars,
.twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

/* .stars {
  background:#000 url(https://www.land-of-web.com/wp-content/uploads/2016/08/stars.png) repeat top center;
  z-index:0;
  }
  
  .twinkling {
  background:transparent url(https://www.land-of-web.com/wp-content/uploads/2016/08/twinkling.png) repeat top center;
  z-index:1;
  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
  } */
/*================================================================
  Animation - Move Up and Move Down Letters
  ================================================================*/
/*================================================================
  Move Up
  ================================================================*/
@keyframes moveUp {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  50% {
    -webkit-transform: translate3d(0px, 10px, 0px);
            transform: translate3d(0px, 10px, 0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}

@-webkit-keyframes moveUp {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  50% {
    -webkit-transform: translate3d(0px, 10px, 0px);
            transform: translate3d(0px, 10px, 0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}

.moveUp {
  -webkit-animation: moveUp 2s infinite;
          animation: moveUp 2s infinite;
}

/*================================================================
  Move Down
  ================================================================*/
@keyframes moveDown {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  50% {
    -webkit-transform: translate3d(0px, -10px, 0px);
            transform: translate3d(0px, -10px, 0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}

@-webkit-keyframes moveDown {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  50% {
    -webkit-transform: translate3d(0px, -10px, 0px);
            transform: translate3d(0px, -10px, 0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}

.moveDown {
  -webkit-animation: moveDown 2s infinite;
          animation: moveDown 2s infinite;
}

/*================================================================
  PARALLAX
  ================================================================*/
.banner {
  background-color: cornsilk;
}

.banner .wrapper {
  width: 100%;
  height: 90vh;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  z-index: 2;
  background: #e0b702;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 3vw), 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 3vw), 0 100%);
}

.banner .wrapper .banner-top {
  position: absolute;
  width: 30%;
  left: 0;
}

.banner .wrapper .banner-right {
  position: absolute;
  width: 30%;
  right: 0.5%;
  top: 0;
}

.banner .wrapper .running-button {
  position: absolute;
  left: 42%;
  bottom: 8%;
}

@media (max-width: 960px) {
  .banner .wrapper .running-button {
    width: 20%;
    position: absolute;
    left: 40%;
  }
  .banner .wrapper .running-button span {
    font-size: 0.8rem;
  }
}

@media (max-width: 767px) {
  .banner .wrapper .running-button {
    width: 30%;
    position: absolute;
    left: 35%;
  }
}

@media (max-width: 576px) {
  .banner .wrapper .running-button {
    width: 40%;
    position: absolute;
    left: 30%;
  }
}

ul#scene {
  list-style-type: none;
}

.layer {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
}

li.layer a {
  color: white;
  text-decoration: none;
  text-shadow: 3px 3px 3px #ccc;
  display: block;
}

/* li.layer:nth-child(1) {} 1 item */
/*-----Logotype----------------*/
li.layer:nth-child(1) .logo-box {
  width: 36%;
  position: absolute;
  top: 28vh;
  left: 32vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 880px) {
  li.layer:nth-child(1) .logo-box {
    width: 40%;
    position: absolute;
    left: 30vw;
  }
}

@media (max-width: 767px) {
  li.layer:nth-child(1) .logo-box {
    width: 48%;
    position: absolute;
    left: 26vw;
  }
}

@media (max-width: 576px) {
  li.layer:nth-child(1) .logo-box {
    width: 70%;
    position: absolute;
    left: 15vw;
  }
}

@media (max-width: 321px) {
  li.layer:nth-child(1) .logo-box {
    width: 80%;
    position: absolute;
    left: 10vw;
  }
}

li.layer:nth-child(1) .logo-box .logo-back {
  width: 100%;
  position: absolute;
}

li.layer:nth-child(1) .logo-box .logo {
  width: 50%;
  z-index: 99;
}

@media (max-width: 960px) {
  li.layer:nth-child(1) .logo-box .logo {
    width: 40%;
  }
}

@media (max-width: 576px) {
  li.layer:nth-child(1) .logo-box .logo {
    width: 40%;
  }
}

li.layer:nth-child(1) .logo-box span {
  color: black;
  margin-top: 5%;
  font-size: 1.5rem;
  z-index: 98;
}

@media (max-width: 1140px) {
  li.layer:nth-child(1) .logo-box span {
    font-size: 0.8rem;
  }
}

@media (max-width: 960px) {
  li.layer:nth-child(1) .logo-box span {
    width: 40%;
  }
}

@media (max-width: 880px) {
  li.layer:nth-child(1) .logo-box span {
    width: 50%;
  }
}

@media (max-width: 576px) {
  li.layer:nth-child(1) .logo-box span {
    width: 55%;
    font-size: 0.7rem;
  }
}

li.layer:nth-child(2) a {
  font-size: 3.5vw;
  color: black;
  text-shadow: 2px 2px 2px #7c7c7c;
  padding: 7px;
  /* border: 2px solid black; */
  border-radius: 5px;
  /* box-shadow: 2px 2px 2px rgb(124, 124, 124); */
  position: absolute;
  top: 30vh;
  left: 40vw;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

li.layer:nth-child(2) a:hover {
  font-size: 4.5vw;
}

/*-----0----------------------*/
li.layer:nth-child(3) a {
  font-size: 5vw;
  position: absolute;
  top: 20vh;
  left: 4vw;
}

/*-----1---------------------*/
li.layer:nth-child(4) a {
  font-size: 5vw;
  position: absolute;
  top: 30vh;
  left: 10vw;
}

/*-----2---------------------*/
li.layer:nth-child(5) a {
  font-size: 6vw;
  position: absolute;
  top: 60vh;
  left: 30vw;
}

/*-----3---------------------*/
li.layer:nth-child(6) a {
  font-size: 3.5vw;
  position: absolute;
  top: 75vh;
  left: 12vw;
}

/*-----4---------------------*/
li.layer:nth-child(7) a {
  font-size: 3.5vw;
  position: absolute;
  top: 50vh;
  left: 8vw;
}

/*-----5---------------------*/
li.layer:nth-child(8) a {
  font-size: 3.5vw;
  position: absolute;
  top: 18vh;
  left: 75vw;
}

@media (max-width: 576px) {
  li.layer:nth-child(8) a {
    position: absolute;
    left: 85vw;
  }
}

/*-----6---------------------*/
li.layer:nth-child(9) a {
  font-size: 4vw;
  position: absolute;
  top: 27vh;
  right: 10vw;
}

/*-----7---------------------*/
li.layer:nth-child(10) a {
  font-size: 6vw;
  position: absolute;
  top: 40vh;
  right: 13vw;
}

/*-----8---------------------*/
li.layer:nth-child(11) a {
  font-size: 5.5vw;
  position: absolute;
  top: 66vh;
  right: 30vw;
}

/*-----9---------------------*/
li.layer:nth-child(12) a {
  font-size: 4vw;
  position: absolute;
  top: 55vh;
  right: 16vw;
}

.section-why {
  background: cornsilk;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  z-index: 2;
}

.section-why .container .title-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.section-why .container .title-left strong {
  font-weight: 1000;
}

.section-why .container .features-box {
  text-align: center;
}

.section-why .container .row-btn {
  margin-top: 60px;
  text-align: center;
}

.img-box .parallax {
  background-image: url("../img/img-about.jpg");
  width: "100%";
  height: 100vh;
  /* parallax effect */
  background-attachment: fixed;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-box .parallax .container {
  width: 65%;
  height: 30%;
}

.img-box .parallax .container .row {
  width: 100%;
  height: 100%;
}

.img-box .parallax .container .row .text-box {
  width: 100%;
  height: 100%;
  padding-top: 30px;
  background-color: #e0b702;
  opacity: 0.9;
  color: black;
}

.img-box .parallax .container .row .text-box span {
  direction: ltr;
}

.img-box .parallax .container .row .text-box span strong {
  font-weight: 1000;
  font-size: 40px;
}

/*================================================================
跑跑項目
================================================================*/
.run-items {
  background: #66d6c5;
  width: 100%;
}

.run-items .run-items-box {
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  z-index: 2;
  background: cornsilk;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 3vw));
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 3vw));
}

.run-items .run-items-box .row {
  margin-bottom: 30px;
}

.run-items .run-items-box .row .item-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  min-height: 58px;
}

.run-items .run-items-box .row .item-box .item-context {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  margin-right: 10px;
  background-color: #f8f8f8;
  border: 1px solid #eee;
  border-radius: 5%;
  -webkit-transition: opacity, border 0.2s linear;
  transition: opacity, border 0.2s linear;
  -webkit-box-shadow: grey;
          box-shadow: grey;
  padding: 20px;
}

.run-items .run-items-box .row .item-box .item-context:hover {
  background: #a9a2d4;
  border-top: 8px solid black;
  border-radius: 8px/2;
  -webkit-transform: translateY(-1em);
          transform: translateY(-1em);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.run-items .run-items-box .row .item-box .item-context:hover .item-cell {
  background: #a9a2d4;
}

.run-items .run-items-box .row .item-box .item-context h3 {
  font-weight: 1000;
  color: black;
}

.run-items .run-items-box .row .item-box .item-context .item-cell {
  width: 80%;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

.run-items .run-items-box .row .item-box .cell-1 {
  height: 80%;
}

.run-items .run-items-box .row .item-box .cell-2 {
  height: 90%;
}

.run-items .run-items-box .row .item-box .cell-3 {
  height: 95%;
}

.run-items .run-items-box .row .item-box .item-text ul {
  display: inline-block;
  padding: 0;
}

.run-content {
  height: 100vh;
  width: 100%;
  background-color: #66d6c5;
  color: white;
  text-align: center;
}

.run-content .tab-box {
  margin: 0 auto;
  width: 80%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  background-color: white;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.run-content .tab-box #left-side {
  height: 70%;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.run-content .tab-box #left-side ul {
  padding: 0;
}

.run-content .tab-box #left-side ul li {
  padding-top: 10px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 34px;
  color: rgba(51, 51, 51, 0.5);
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.run-content .tab-box #left-side ul li:hover {
  color: #333333;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.run-content .tab-box #left-side ul li:hover > .icon {
  fill: #333;
}

.run-content .tab-box #left-side ul li.active {
  color: #333333;
}

.run-content .tab-box #left-side ul li.active:hover > .icon {
  fill: #e74c3c;
}

#border {
  height: 288px;
  width: 1px;
  background-color: rgba(51, 51, 51, 0.2);
}

#border #line.one {
  width: 5px;
  height: 54px;
  background-color: #e74c3c;
  margin-left: -2px;
  margin-top: 35px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#border #line.two {
  width: 5px;
  height: 54px;
  background-color: #e74c3c;
  margin-left: -2px;
  margin-top: 89px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#border #line.three {
  width: 5px;
  height: 54px;
  background-color: #e74c3c;
  margin-left: -2px;
  margin-top: 143px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#border #line.four {
  width: 5px;
  height: 54px;
  background-color: #e74c3c;
  margin-left: -2px;
  margin-top: 197px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#border #line.five {
  width: 5px;
  height: 54px;
  background-color: #e74c3c;
  margin-left: -2px;
  margin-top: 197px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#right-side {
  height: 300px;
  width: 75%;
  overflow: hidden;
}

#right-side #first,
#right-side #second,
#right-side #third,
#right-side #fourth {
  position: absolute;
  height: 300px;
  width: 50%;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  margin-top: -350px;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#right-side #first h1,
#right-side #second h1,
#right-side #third h1,
#right-side #fourth h1 {
  font-weight: 800;
  color: #333;
}

#right-side #first p,
#right-side #second p,
#right-side #third p,
#right-side #fourth p {
  color: #333;
  font-weight: 500;
  padding-left: 30px;
  padding-right: 30px;
}

#right-side #first.active,
#right-side #second.active,
#right-side #third.active,
#right-side #fourth.active {
  margin-top: 0px;
  opacity: 1;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
/*# sourceMappingURL=style.css.map */