@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.navbar {
  width: 100%;
  height: 48px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  background-color: transparent;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
}

.navbar .nav-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
      justify-content: flex-start;
  width: 1536px;
  margin: 0px auto;
}

@media (max-width: 1680px) {
  .navbar .nav-box {
    width: 1336px;
  }
}

@media (max-width: 1460px) {
  .navbar .nav-box {
    width: 1136px;
  }
}

@media (max-width: 1280px) {
  .navbar .nav-box {
    width: 960px;
  }
}

@media (max-width: 1024px) {
  .navbar .nav-box {
    width: 100%;
    padding: 0px 30px;
  }
}

.navbar .nav-box .logo {
  width: 190px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@media (max-width: 1024px) {
  .navbar .nav-box .logo {
    width: 60px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}

@media (max-width: 670px) {
  .navbar .nav-box .logo {
    width: 30px;
  }
}

.navbar .nav-box .logo a {
  height: 16px;
  display: block;
  margin: 2px 0px 0px;
}

.navbar .nav-box .logo .logo-content {
  width: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar .nav-box .logo .logo-content .logo-box {
  width: 7px;
  height: 7px;
  background-color: white;
  -webkit-transition: all 200ms linear 0ms;
  transition: all 200ms linear 0ms;
  margin-top: 2px;
}

.navbar .nav-box .logo .logo-content:hover .microsoft-red {
  background-color: #f25022;
}

.navbar .nav-box .logo .logo-content:hover .microsoft-green {
  background-color: #7fba00;
}

.navbar .nav-box .logo .logo-content:hover .microsoft-blue {
  background-color: #00a4ef;
}

.navbar .nav-box .logo .logo-content:hover .microsoft-yellow {
  background-color: #ffb900;
}

.navbar .nav-box .nav-mid {
  height: 48px;
  width: auto;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.navbar .nav-box .nav-mid a {
  color: white;
  text-decoration: none;
  -webkit-transition: color 200ms linear 0ms;
  transition: color 200ms linear 0ms;
  font-size: 16px;
  font-weight: 600;
  line-height: 49px;
}

.navbar .nav-box .nav-mid a:hover {
  color: #258ede;
}

.navbar .nav-box .nav-r {
  height: 48px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 120px 0px 420px;
}

@media (max-width: 1460px) {
  .navbar .nav-box .nav-r {
    padding: 0px 60px 0px 120px;
  }
}

@media (max-width: 1024px) {
  .navbar .nav-box .nav-r {
    padding: 0px 0px 0px 120px;
  }
}

@media (max-width: 767px) {
  .navbar .nav-box .nav-r {
    display: none;
  }
}

.navbar .nav-box .nav-r .menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.navbar .nav-box .nav-r .menu li {
  list-style: none;
  width: auto;
  color: white;
  font-size: 16px;
  line-height: 49px;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
}

.navbar .nav-box .nav-r .menu li a {
  color: white;
  text-decoration: none;
  -webkit-transition: all 200ms linear 0ms;
  transition: all 200ms linear 0ms;
}

.navbar .nav-box .nav-r .menu li a:focus {
  color: #258ede;
}

.navbar .nav-box .nav-r .menu li a:hover {
  color: #258ede;
}

.navbar .nav-box .nav-r .menu li a:hover.windows {
  color: #4fe5ff;
}

.navbar .nav-box .nav-r .menu li a:hover.ios {
  color: #cf8fff;
}

.navbar .nav-box .nav-r .menu li a:hover.android {
  color: #69e56e;
}

.navbar .nav-box .MenuToggle {
  display: none;
  position: absolute;
  top: 0px;
  right: 10px;
  height: 48px;
  width: 48px;
  z-index: 100;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  background-color: transparent;
  outline: none;
  border-width: initial;
  border-style: none;
  border-color: initial;
  -o-border-image: initial;
     border-image: initial;
}

@media (max-width: 767px) {
  .navbar .nav-box .MenuToggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navbar .nav-box .MenuToggle span {
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: white;
  -webkit-transition: all 200ms linear 0ms;
  transition: all 200ms linear 0ms;
}

.navbar .nav-box .MenuToggle .top-bar {
  top: 17px;
  left: 12px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.navbar .nav-box .MenuToggle .middle-bar {
  top: 24px;
  left: 12px;
  opacity: 1;
}

.navbar .nav-box .MenuToggle .bottom-bar {
  top: 31px;
  left: 12px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.container {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 48px 0px 0px;
}

.container .box1 {
  width: 100%;
  margin: 145px 0px 60px;
}

@media (max-width: 670px) {
  .container .box1 {
    margin: 0px 0px 30px;
  }
}

.container .box1 .box1-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1536px;
  margin: 0px auto;
}

@media (max-width: 1680px) {
  .container .box1 .box1-content {
    width: 1336px;
  }
}

@media (max-width: 1460px) {
  .container .box1 .box1-content {
    width: 1136px;
  }
}

@media (max-width: 1280px) {
  .container .box1 .box1-content {
    width: 960px;
  }
}

@media (max-width: 1024px) {
  .container .box1 .box1-content {
    width: 100%;
    padding: 30px;
  }
}

@media (max-width: 960px) {
  .container .box1 .box1-content {
    width: 100%;
    padding: 0px 30px;
  }
}

.container .box1 .box1-content .box1-L {
  width: 410px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@media (max-width: 1280px) {
  .container .box1 .box1-content .box1-L {
    width: 50%;
  }
}

@media (max-width: 960px) {
  .container .box1 .box1-content .box1-L {
    width: 60%;
  }
}

@media (max-width: 670px) {
  .container .box1 .box1-content .box1-L {
    width: 100%;
  }
}

.container .box1 .box1-content .box1-L .title {
  width: 100%;
}

@media (max-width: 670px) {
  .container .box1 .box1-content .box1-L .title {
    margin: 60px 0px 30px;
  }
}

.container .box1 .box1-content .box1-L .title h2 {
  font-size: 64px;
  line-height: 80px;
  color: #4fe5ff;
  font-weight: 600;
  margin: 0px 0px 0px -6px;
}

@media (max-width: 767px) {
  .container .box1 .box1-content .box1-L .title h2 {
    font-size: 48px;
    line-height: 60px;
  }
}

@media (max-width: 670px) {
  .container .box1 .box1-content .box1-L .title h2 {
    font-size: 48px;
    line-height: 58px;
  }
}

.container .box1 .box1-content .box1-L .describe {
  width: 100%;
  margin: 100px 0px 30px;
  max-width: 352px;
}

@media (max-width: 767px) {
  .container .box1 .box1-content .box1-L .describe {
    margin: 60px 0px 30px;
  }
}

.container .box1 .box1-content .box1-L .describe p {
  color: white;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin: 0px 0px 24px;
}

.container .box1 .box1-content .box1-R {
  text-align: center;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
}

@media (max-width: 1280px) {
  .container .box1 .box1-content .box1-R {
    width: 50%;
    padding: 0px 40px;
  }
}

@media (max-width: 960px) {
  .container .box1 .box1-content .box1-R {
    width: 40%;
    padding: 0px 0px 0px 30px;
  }
}

@media (max-width: 670px) {
  .container .box1 .box1-content .box1-R {
    display: none;
  }
}

.container .box1 .box1-content .box1-R .box1-img1 {
  position: absolute;
  top: -15px;
  right: 180px;
  pointer-events: none;
}

@media (max-width: 1680px) {
  .container .box1 .box1-content .box1-R .box1-img1 {
    top: -40px;
    right: 36px;
  }
}

@media (max-width: 1460px) {
  .container .box1 .box1-content .box1-R .box1-img1 {
    top: 15px;
    right: 36px;
  }
}

@media (max-width: 1280px) {
  .container .box1 .box1-content .box1-R .box1-img1 {
    max-width: 100%;
  }
}

@media (max-width: 1280px) {
  .container .box1 .box1-content .box1-R .box1-img1 {
    display: none;
  }
}

.container .box1 .box1-content .box1-R .box1-img2 {
  position: absolute;
  bottom: 155px;
  left: 180px;
  pointer-events: none;
}

@media (max-width: 1680px) {
  .container .box1 .box1-content .box1-R .box1-img2 {
    bottom: 160px;
    left: 30px;
  }
}

@media (max-width: 1460px) {
  .container .box1 .box1-content .box1-R .box1-img2 {
    bottom: 120px;
    left: 30px;
  }
}

@media (max-width: 1280px) {
  .container .box1 .box1-content .box1-R .box1-img2 {
    display: none;
  }
}

@media (max-width: 1280px) {
  .container .box1 .box1-content .box1-R .box1-img2 {
    max-width: 100%;
  }
}

@media (max-width: 1280px) {
  .container .box1 .box1-content .box1-R .box1-img3 {
    max-width: 100%;
  }
}

.container .box2 {
  width: 100%;
  position: relative;
}

.container .box2::before {
  content: "";
  width: 50vw;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #2280c8;
}

.container .box2::after {
  content: "";
  width: 50vw;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
  background-color: #5fcf63;
}

.container .box2 .box2-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1536px;
  margin: 0px auto;
}

@media (max-width: 1680px) {
  .container .box2 .box2-content {
    width: 1336px;
  }
}

@media (max-width: 1460px) {
  .container .box2 .box2-content {
    width: 1136px;
  }
}

@media (max-width: 1280px) {
  .container .box2 .box2-content {
    width: 960px;
    padding: 0px;
  }
}

@media (max-width: 1024px) {
  .container .box2 .box2-content {
    width: 100%;
  }
}

.container .box2 .box2-content .box2-systems {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (max-width: 1024px) {
  .container .box2 .box2-content .box2-systems {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.container .box2 .box2-content .box2-systems .box2-systems-cont {
  width: 25%;
  height: 384px;
  position: relative;
  z-index: 2;
}

@media (max-width: 1024px) {
  .container .box2 .box2-content .box2-systems .box2-systems-cont {
    width: 50%;
    height: 320px;
  }
}

@media (max-width: 767px) {
  .container .box2 .box2-content .box2-systems .box2-systems-cont {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .container .box2 .box2-content .box2-systems .box2-systems-cont {
    height: auto;
  }
}

.container .box2 .box2-content .box2-systems .box2-systems-cont a {
  text-decoration: none;
  color: black;
}

.container .box2 .box2-content .box2-systems .box2-systems-cont .box2-web {
  background-color: #258ede;
}

.container .box2 .box2-content .box2-systems .box2-systems-cont .box2-web:hover {
  background-color: #0c75c5;
}

.container .box2 .box2-content .box2-systems .box2-systems-cont .box2-windows {
  background-color: #4fe5ff;
}

.container .box2 .box2-content .box2-systems .box2-systems-cont .box2-windows:hover {
  background-color: #36cce6;
}

.container .box2 .box2-content .box2-systems .box2-systems-cont .box2-ios {
  background-color: #cf8fff;
}

.container .box2 .box2-content .box2-systems .box2-systems-cont .box2-ios:hover {
  background-color: #b676e6;
}

.container .box2 .box2-content .box2-systems .box2-systems-cont .box2-android {
  background-color: #69e56e;
}

.container .box2 .box2-content .box2-systems .box2-systems-cont .box2-android:hover {
  background-color: #50cc55;
}

.container .box2 .box2-content .box2-systems .box2-systems-cont .cnbtsR {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
}

.container .box2 .box2-content .box2-systems .box2-systems-cont .cnbtsR .icon {
  min-height: 96px;
  width: 100%;
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 26px;
}

@media (max-width: 1024px) {
  .container .box2 .box2-content .box2-systems .box2-systems-cont .cnbtsR .icon {
    padding: 30px 30px 16px;
  }
}

.container .box2 .box2-content .box2-systems .box2-systems-cont .cnbtsR .box2-text {
  height: 100px;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 0px 26px;
}

@media (max-width: 1460px) {
  .container .box2 .box2-content .box2-systems .box2-systems-cont .cnbtsR .box2-text {
    height: 180px;
  }
}

@media (max-width: 1024px) {
  .container .box2 .box2-content .box2-systems .box2-systems-cont .cnbtsR .box2-text {
    height: auto;
    padding: 0px 30px;
  }
}

.container .box2 .box2-content .box2-systems .box2-systems-cont .cnbtsR .box2-text h2 {
  font-size: 32px;
  letter-spacing: -0.03rem;
  line-height: 40px;
  font-weight: 600;
  margin: 0px 0px 26px;
}

.container .box2 .box2-content .box2-systems .box2-systems-cont .cnbtsR .box2-text p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin: 0px;
}

.container .box2 .box2-content .box2-systems .box2-systems-cont .cnbtsR .get-started {
  height: 48px;
  width: 100%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 0px 26px 10px;
}

@media (max-width: 1280px) {
  .container .box2 .box2-content .box2-systems .box2-systems-cont .cnbtsR .get-started {
    padding: 0px 30px;
  }
}

.container .box2 .box2-content .box2-systems .box2-systems-cont .cnbtsR .get-started img {
  margin: 0px 16px 0px 0px;
}

.container .box3 {
  width: 100%;
  min-height: 768px;
  background: url(https://www.microsoft.com/design/fluent/assets/images/msft-verge-fluent.jpg) 50% center/cover no-repeat fixed #cccccc;
}

@media (max-width: 1280px) {
  .container .box3 {
    min-height: 668px;
  }
}

@media (max-width: 960px) {
  .container .box3 {
    background-attachment: scroll;
  }
}

@media (max-width: 670px) {
  .container .box3 {
    min-height: 768px;
  }
}

.container .box3 .box3-content {
  width: 1536px;
  margin: 0 auto;
}

@media (max-width: 1680px) {
  .container .box3 .box3-content {
    width: 1336px;
  }
}

@media (max-width: 1460px) {
  .container .box3 .box3-content {
    width: 1136px;
  }
}

@media (max-width: 1280px) {
  .container .box3 .box3-content {
    width: 960px;
  }
}

@media (max-width: 1024px) {
  .container .box3 .box3-content {
    width: 100%;
    padding: 0px 30px;
  }
}

@media (max-width: 960px) {
  .container .box3 .box3-content {
    width: 100%;
    padding: 0px 30px;
  }
}

@media (max-width: 400px) {
  .container .box3 .box3-content {
    padding: 0px 30px 60px;
  }
}

.container .box3 .box3-content .box3-title {
  opacity: 1;
}

@media (max-width: 1460px) {
  .container .box3 .box3-content .box3-title {
    padding: 10px 0px 0px 16px;
  }
}

@media (max-width: 1280px) {
  .container .box3 .box3-content .box3-title {
    padding: 20px 0px 60px;
  }
}

@media (max-width: 1024px) {
  .container .box3 .box3-content .box3-title {
    padding: 29px 0px 40px;
  }
}

@media (max-width: 400px) {
  .container .box3 .box3-content .box3-title {
    padding: 29px 0px 30px;
  }
}

.container .box3 .box3-content .box3-title .box3-title-style {
  color: black;
  font-size: 128px;
  line-height: 150px;
  font-weight: 600;
}

@media (max-width: 1460px) {
  .container .box3 .box3-content .box3-title .box3-title-style {
    font-size: 96px;
    line-height: 120px;
  }
}

@media (max-width: 1024px) {
  .container .box3 .box3-content .box3-title .box3-title-style {
    font-size: 86px;
    line-height: 90px;
    margin: 0px;
  }
}

@media (max-width: 670px) {
  .container .box3 .box3-content .box3-title .box3-title-style {
    font-size: 64px;
    line-height: 70px;
  }
}

@media (max-width: 500px) {
  .container .box3 .box3-content .box3-title .box3-title-style {
    font-size: 48px;
    line-height: 60px;
  }
}

.container .box3 .box3-content .box3-text {
  width: 100%;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  margin: 60px 0px 0px;
}

@media (max-width: 1460px) {
  .container .box3 .box3-content .box3-text {
    margin: 40px 0px 0px;
  }
}

@media (max-width: 1280px) {
  .container .box3 .box3-content .box3-text {
    margin: 0px;
  }
}

.container .box3 .box3-content .box3-text .box3-text-cont {
  width: 100%;
  max-width: 384px;
  padding: 0px 16px 0px 24px;
}

@media (max-width: 1280px) {
  .container .box3 .box3-content .box3-text .box3-text-cont {
    margin: 0px;
    padding: 0px 5px;
  }
}

@media (max-width: 1024px) {
  .container .box3 .box3-content .box3-text .box3-text-cont {
    padding: 0px 0px 0px 4px;
  }
}

@media (max-width: 500px) {
  .container .box3 .box3-content .box3-text .box3-text-cont {
    padding: 0px 0px 0px 4px;
  }
}

.container .box3 .box3-content .box3-text .box3-text-cont p {
  color: black;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin: 0px;
}

.container .box4 {
  width: 100%;
  background-color: #191919;
}

.container .box4 .box4-content {
  position: relative;
  width: 1536px;
  margin: 0px auto;
}

@media (max-width: 1680px) {
  .container .box4 .box4-content {
    width: 1336px;
  }
}

@media (max-width: 1460px) {
  .container .box4 .box4-content {
    width: 1136px;
  }
}

@media (max-width: 1280px) {
  .container .box4 .box4-content {
    width: 960px;
  }
}

@media (max-width: 960px) {
  .container .box4 .box4-content {
    width: 100%;
    padding: 0px 30px;
  }
}

@media (max-width: 1024px) {
  .container .box4 .box4-content {
    width: 100%;
    padding: 0px 30px;
  }
}

.container .box4 .box4-content .box4-img1 {
  opacity: 1;
  position: absolute;
  top: -200px;
  right: 130px;
  pointer-events: none;
  z-index: 99;
  -webkit-transition: opacity 600ms linear 0ms, -webkit-transform 600ms linear 0ms;
  transition: opacity 600ms linear 0ms, -webkit-transform 600ms linear 0ms;
  transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;
  transition: opacity 600ms linear 0ms, transform 600ms linear 0ms, -webkit-transform 600ms linear 0ms;
}

@media (max-width: 1680px) {
  .container .box4 .box4-content .box4-img1 {
    right: 30px;
  }
}

@media (max-width: 1460px) {
  .container .box4 .box4-content .box4-img1 {
    top: -200px;
  }
}

@media (max-width: 767px) {
  .container .box4 .box4-content .box4-img1 {
    top: -300px;
    right: 100px;
  }
}

@media (max-width: 670px) {
  .container .box4 .box4-content .box4-img1 {
    display: none;
  }
}

.container .box4 .box4-content .box4-img2 {
  position: absolute;
  top: 570px;
  left: 190px;
  pointer-events: none;
  -webkit-transition: -webkit-transform 600ms linear 0ms;
  transition: -webkit-transform 600ms linear 0ms;
  transition: transform 600ms linear 0ms;
  transition: transform 600ms linear 0ms, -webkit-transform 600ms linear 0ms;
}

@media (max-width: 670px) {
  .container .box4 .box4-content .box4-img2 {
    left: 90vw;
  }
}

.container .box4 .box4-content .box4-img3 {
  width: 100%;
  padding: 60px 30px;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 600ms linear 0ms, -webkit-transform 600ms linear 0ms;
  transition: opacity 600ms linear 0ms, -webkit-transform 600ms linear 0ms;
  transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;
  transition: opacity 600ms linear 0ms, transform 600ms linear 0ms, -webkit-transform 600ms linear 0ms;
}

.container .box4 .box4-content .box4-img3 img {
  max-width: 100%;
}

.container .box4-describe {
  width: 100%;
  background-color: #191919;
}

.container .box4-describe .box4-describe-cont {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
      justify-content: flex-end;
  width: 1536px;
  margin: 0px auto;
}

@media (max-width: 1680px) {
  .container .box4-describe .box4-describe-cont {
    width: 1336px;
  }
}

@media (max-width: 1460px) {
  .container .box4-describe .box4-describe-cont {
    width: 1136px;
  }
}

@media (max-width: 1280px) {
  .container .box4-describe .box4-describe-cont {
    width: 960px;
  }
}

@media (max-width: 1024px) {
  .container .box4-describe .box4-describe-cont {
    width: 100%;
    padding: 0px 30px;
  }
}

@media (max-width: 960px) {
  .container .box4-describe .box4-describe-cont {
    width: 100%;
    padding: 0px 30px;
  }
}

.container .box4-describe .box4-describe-cont .box4-describe-text {
  width: 384px;
  margin: 0px 0px 50px;
  padding: 0px 16px;
}

@media (max-width: 960px) {
  .container .box4-describe .box4-describe-cont .box4-describe-text {
    padding: 0px;
  }
}

.container .box4-describe .box4-describe-cont .box4-describe-text p {
  color: white;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin: 0px;
}

.container .box5 {
  width: 100%;
  position: relative;
  background-color: #faf8f8;
}

.container .box5 .box5-title {
  position: absolute;
  bottom: 80px;
  left: 0px;
  width: 100%;
  z-index: 4;
}

@media (max-width: 1024px) {
  .container .box5 .box5-title {
    bottom: 60px;
  }
}

.container .box5 .box5-title .box5-title-text {
  width: 1536px;
  margin: 0px auto;
}

@media (max-width: 1680px) {
  .container .box5 .box5-title .box5-title-text {
    width: 1336px;
  }
}

@media (max-width: 1460px) {
  .container .box5 .box5-title .box5-title-text {
    width: 1136px;
  }
}

@media (max-width: 1280px) {
  .container .box5 .box5-title .box5-title-text {
    width: 960px;
  }
}

@media (max-width: 1024px) {
  .container .box5 .box5-title .box5-title-text {
    width: 100%;
    padding: 0px 30px;
  }
}

.container .box5 .box5-title .box5-title-text h2 {
  color: #191919;
  font-size: 128px;
  line-height: 144px;
  font-weight: 600;
  margin: 0px 0px 0px 26px;
}

@media (max-width: 1680px) {
  .container .box5 .box5-title .box5-title-text h2 {
    font-size: 96px;
    line-height: 128px;
  }
}

@media (max-width: 1280px) {
  .container .box5 .box5-title .box5-title-text h2 {
    font-size: 96px;
    line-height: 104px;
  }
}

@media (max-width: 1024px) {
  .container .box5 .box5-title .box5-title-text h2 {
    font-size: 86px;
    line-height: 90px;
    margin: 0px;
  }
}

@media (max-width: 670px) {
  .container .box5 .box5-title .box5-title-text h2 {
    font-size: 64px;
    line-height: 70px;
  }
}

@media (max-width: 500px) {
  .container .box5 .box5-title .box5-title-text h2 {
    font-size: 48px;
    line-height: 60px;
  }
}

.container .box5 .box5-img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
  background-color: #191919;
}

.container .box5 .box5-img img {
  width: 100%;
  min-width: 2000px;
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container .box6 {
  position: relative;
  top: 0px;
  z-index: 2;
  width: 100%;
  min-height: 948px;
  background: url(https://www.microsoft.com/design/fluent/assets/images/clouds.jpg) 50% center/cover no-repeat fixed black;
}

@media (max-width: 1280px) {
  .container .box6 {
    min-height: 668px;
  }
}

@media (max-width: 960px) {
  .container .box6 {
    background-attachment: scroll;
  }
}

@media (max-width: 400px) {
  .container .box6 {
    min-height: 500px;
  }
}

.container .box6 .box6-img-box {
  position: absolute;
  top: -300px;
  right: 0;
}

@media (max-width: 1460px) {
  .container .box6 .box6-img-box {
    display: none;
  }
}

.container .box6 .box6-img-box .box6-img1-1 {
  -webkit-transform: translate(875px, -100px);
          transform: translate(875px, -100px);
}

.container .box6 .box6-img-box .box6-img1-2 {
  -webkit-transform: translate(100px, 10px);
          transform: translate(100px, 10px);
}

.container .box6 .box6-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 1536px;
  margin: 0px auto;
}

@media (max-width: 1680px) {
  .container .box6 .box6-content {
    width: 1336px;
  }
}

@media (max-width: 1460px) {
  .container .box6 .box6-content {
    width: 1136px;
  }
}

@media (max-width: 1280px) {
  .container .box6 .box6-content {
    width: 960px;
  }
}

@media (max-width: 1024px) {
  .container .box6 .box6-content {
    width: 100%;
    padding: 0px 30px;
  }
}

@media (max-width: 960px) {
  .container .box6 .box6-content {
    width: 100%;
    padding: 0px 30px;
  }
}

.container .box6 .box6-content .box6-title1 h2 {
  position: absolute;
  top: -100px;
  left: 0px;
  font-size: 395px;
  line-height: 1;
  color: black;
  font-weight: 600;
}

@media (max-width: 1680px) {
  .container .box6 .box6-content .box6-title1 h2 {
    top: -40px;
    font-size: 295px;
  }
}

@media (max-width: 1460px) {
  .container .box6 .box6-content .box6-title1 h2 {
    top: -20px;
    left: 0px;
  }
}

@media (max-width: 1280px) {
  .container .box6 .box6-content .box6-title1 h2 {
    font-size: 228px;
    top: 40px;
    left: 14px;
  }
}

@media (max-width: 670px) {
  .container .box6 .box6-content .box6-title1 h2 {
    font-size: 168px;
  }
}

@media (max-width: 500px) {
  .container .box6 .box6-content .box6-title1 h2 {
    font-size: 128px;
  }
}

@media (max-width: 400px) {
  .container .box6 .box6-content .box6-title1 h2 {
    font-size: 96px;
  }
}

.container .box6 .box6-content .box6-title2 h2 {
  position: absolute;
  top: 140px;
  right: -30px;
  font-size: 395px;
  line-height: 1;
  color: black;
  font-weight: 600;
}

@media (max-width: 1680px) {
  .container .box6 .box6-content .box6-title2 h2 {
    top: 120px;
    right: -30px;
    font-size: 295px;
  }
}

@media (max-width: 1460px) {
  .container .box6 .box6-content .box6-title2 h2 {
    top: 180px;
    right: -30px;
  }
}

@media (max-width: 1280px) {
  .container .box6 .box6-content .box6-title2 h2 {
    font-size: 228px;
    top: 220px;
    right: 10px;
  }
}

@media (max-width: 670px) {
  .container .box6 .box6-content .box6-title2 h2 {
    font-size: 168px;
  }
}

@media (max-width: 500px) {
  .container .box6 .box6-content .box6-title2 h2 {
    font-size: 128px;
  }
}

@media (max-width: 400px) {
  .container .box6 .box6-content .box6-title2 h2 {
    font-size: 96px;
    top: 160px;
  }
}

.container .box6 .box6-content .box6-slash {
  position: absolute;
  top: 550px;
  left: 370px;
  pointer-events: none;
  -webkit-transition: opacity 600ms linear 0ms, -webkit-transform 600ms linear 0ms;
  transition: opacity 600ms linear 0ms, -webkit-transform 600ms linear 0ms;
  transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;
  transition: opacity 600ms linear 0ms, transform 600ms linear 0ms, -webkit-transform 600ms linear 0ms;
}

@media (max-width: 1460px) {
  .container .box6 .box6-content .box6-slash {
    top: 550px;
    left: 370px;
  }
}

@media (max-width: 1280px) {
  .container .box6 .box6-content .box6-slash {
    display: none;
  }
}

.container .box7 {
  width: 100%;
  background-color: #cccccc;
  min-height: 820px;
  position: relative;
}

@media (max-width: 1280px) {
  .container .box7 {
    min-height: 668px;
  }
}

@media (max-width: 670px) {
  .container .box7 {
    min-height: 468px;
  }
}

.container .box7 .box7-content {
  width: 1536px;
  margin: 0px auto;
}

@media (max-width: 1680px) {
  .container .box7 .box7-content {
    width: 1336px;
  }
}

@media (max-width: 1460px) {
  .container .box7 .box7-content {
    width: 1136px;
  }
}

@media (max-width: 1280px) {
  .container .box7 .box7-content {
    width: 960px;
  }
}

@media (max-width: 1024px) {
  .container .box7 .box7-content {
    width: 100%;
    padding: 0px 30px;
  }
}

@media (max-width: 960px) {
  .container .box7 .box7-content {
    width: 100%;
    padding: 0px 30px 40px;
  }
}

.container .box7 .box7-content .box7-title {
  width: 100%;
  padding: 140px 40px 0px 8px;
}

@media (max-width: 1460px) {
  .container .box7 .box7-content .box7-title {
    padding: 60px 40px 0px 8px;
  }
}

@media (max-width: 1280px) {
  .container .box7 .box7-content .box7-title {
    padding: 29px 0px 0px;
  }
}

.container .box7 .box7-content .box7-title h2 {
  color: black;
  font-size: 128px;
  line-height: 150px;
  font-weight: 600;
}

@media (max-width: 1280px) {
  .container .box7 .box7-content .box7-title h2 {
    font-size: 96px;
    line-height: 104px;
  }
}

@media (max-width: 1024px) {
  .container .box7 .box7-content .box7-title h2 {
    font-size: 86px;
    line-height: 90px;
    margin: 0px;
  }
}

@media (max-width: 670px) {
  .container .box7 .box7-content .box7-title h2 {
    font-size: 64px;
    line-height: 70px;
  }
}

@media (max-width: 500px) {
  .container .box7 .box7-content .box7-title h2 {
    font-size: 48px;
    line-height: 60px;
  }
}

.container .box7 .box7-content .box7-text-box {
  width: 100%;
  margin: 60px 0px 0px;
}

@media (max-width: 670px) {
  .container .box7 .box7-content .box7-text-box {
    margin: 40px 0px 0px;
  }
}

.container .box7 .box7-content .box7-text-box .box7-text {
  width: 100%;
  max-width: 384px;
  padding: 0px 16px;
}

@media (max-width: 1024px) {
  .container .box7 .box7-content .box7-text-box .box7-text {
    padding: 0px 0px 0px 4px;
  }
}

.container .box7 .box7-content .box7-img {
  position: absolute;
  top: 200px;
  right: 0px;
}

@media (max-width: 1024px) {
  .container .box7 .box7-content .box7-img {
    right: -20vw;
  }
}

@media (max-width: 767px) {
  .container .box7 .box7-content .box7-img {
    right: -20vw;
  }
}

@media (max-width: 670px) {
  .container .box7 .box7-content .box7-img {
    display: none;
  }
}

.container .box7 .box7-content .box7-img img {
  max-width: 900px;
}

@media (max-width: 1680px) {
  .container .box7 .box7-content .box7-img img {
    max-width: 50vw;
  }
}

@media (max-width: 1024px) {
  .container .box7 .box7-content .box7-img img {
    max-width: 70vw;
  }
}

@media (max-width: 767px) {
  .container .box7 .box7-content .box7-img img {
    max-width: 60vw;
  }
}

.container .box8 {
  width: 100%;
  min-height: 768px;
  background: url(https://www.microsoft.com/design/fluent/assets/images/space.jpg) 50% center/cover no-repeat fixed black;
}

@media (max-width: 1280px) {
  .container .box8 {
    min-height: 668px;
  }
}

@media (max-width: 960px) {
  .container .box8 {
    background-attachment: scroll;
  }
}

@media (max-width: 500px) {
  .container .box8 {
    min-height: 568px;
  }
}

.container .box8 .box8-content {
  position: relative;
  z-index: 2;
  width: 1536px;
  margin: 0px auto;
}

@media (max-width: 1680px) {
  .container .box8 .box8-content {
    width: 1336px;
  }
}

@media (max-width: 1460px) {
  .container .box8 .box8-content {
    width: 1136px;
  }
}

@media (max-width: 1280px) {
  .container .box8 .box8-content {
    width: 960px;
  }
}

@media (max-width: 1024px) {
  .container .box8 .box8-content {
    width: 100%;
    padding: 0px 30px;
  }
}

@media (max-width: 960px) {
  .container .box8 .box8-content {
    width: 100%;
    padding: 0px 30px;
  }
}

.container .box8 .box8-content .box8-img1 {
  position: absolute;
  top: -95px;
  left: 340px;
  pointer-events: none;
}

@media (max-width: 1460px) {
  .container .box8 .box8-content .box8-img1 {
    top: -75px;
    left: 50%;
    margin: 0px 0px 0px -215px;
  }
}

@media (max-width: 500px) {
  .container .box8 .box8-content .box8-img1 {
    width: 100%;
    max-width: 50%;
    left: 30%;
    margin: 0px;
  }
}

@media (max-width: 400px) {
  .container .box8 .box8-content .box8-img1 {
    top: 0px;
    width: 100%;
    max-width: 100%;
    left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
    padding: 0px 60px;
  }
}

@media (max-width: 500px) {
  .container .box8 .box8-content .box8-img1 img {
    max-width: 100%;
  }
}

.container .box8 .box8-content .box8-img2 {
  position: absolute;
  top: 185px;
  left: 165px;
  pointer-events: none;
}

@media (max-width: 1460px) {
  .container .box8 .box8-content .box8-img2 {
    top: 40vh;
    left: 65px;
  }
}

@media (max-width: 500px) {
  .container .box8 .box8-content .box8-img2 {
    display: none;
  }
}

.container .box8 .box8-content .box8-img3 {
  position: absolute;
  top: -125px;
  left: 620px;
  pointer-events: none;
}

@media (max-width: 1460px) {
  .container .box8 .box8-content .box8-img3 {
    top: 80px;
    left: auto;
    right: 60px;
  }
}

@media (max-width: 500px) {
  .container .box8 .box8-content .box8-img3 {
    display: none;
  }
}

.container .box8 .box8-content .box8-img4 {
  position: absolute;
  top: 530px;
  right: 85px;
  pointer-events: none;
}

@media (max-width: 500px) {
  .container .box8 .box8-content .box8-img4 {
    display: none;
  }
}

.container .box8 .box8-content .box8-img5 {
  position: absolute;
  top: 275px;
  right: 220px;
  pointer-events: none;
}

@media (max-width: 1460px) {
  .container .box8 .box8-content .box8-img5 {
    top: 37ㄓpx;
    right: 220px;
  }
}

@media (max-width: 767px) {
  .container .box8 .box8-content .box8-img5 {
    display: none;
  }
}

.container .box9 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin: 0px 0px 160px;
}

@media (max-width: 1460px) {
  .container .box9 {
    position: relative;
    z-index: 1;
  }
}

@media (max-width: 1024px) {
  .container .box9 {
    margin: 0px 0px 60px;
  }
}

@media (max-width: 960px) {
  .container .box9 {
    margin: 0px;
  }
}

.container .box9 .box9-content {
  position: relative;
  z-index: 2;
  width: 1536px;
  margin: 0px auto;
}

@media (max-width: 1680px) {
  .container .box9 .box9-content {
    width: 1336px;
  }
}

@media (max-width: 1460px) {
  .container .box9 .box9-content {
    width: 1136px;
  }
}

@media (max-width: 1280px) {
  .container .box9 .box9-content {
    width: 960px;
  }
}

@media (max-width: 1024px) {
  .container .box9 .box9-content {
    width: 100%;
  }
}

.container .box9 .box9-content .box9-methods {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (max-width: 1024px) {
  .container .box9 .box9-content .box9-methods {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.container .box9 .box9-content .box9-methods .box9-methods-cont {
  width: 25%;
  height: 384px;
  position: relative;
  z-index: 2;
}

@media (max-width: 1024px) {
  .container .box9 .box9-content .box9-methods .box9-methods-cont {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .container .box9 .box9-content .box9-methods .box9-methods-cont {
    width: 100%;
    height: auto;
    min-height: 260px;
  }
}

.container .box9 .box9-content .box9-methods .box9-methods-cont a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  text-decoration: none;
  -webkit-transition: background-color 200ms linear 0ms;
  transition: background-color 200ms linear 0ms;
}

.container .box9 .box9-content .box9-methods .box9-methods-cont a:hover {
  background-color: #fafafa;
}

.container .box9 .box9-content .box9-methods .box9-methods-cont a:hover p {
  color: black;
}

.container .box9 .box9-content .box9-methods .box9-methods-cont a:hover .m12-logo .brlidN svg path {
  fill: black;
}

.container .box9 .box9-content .box9-methods .box9-methods-cont a:hover .m12-logo .bDdnlG label {
  color: black;
}

.container .box9 .box9-content .box9-methods .box9-methods-cont .m12-style {
  width: 100%;
  padding: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 2px 0px 0px;
}

@media (max-width: 1024px) {
  .container .box9 .box9-content .box9-methods .box9-methods-cont .m12-style {
    padding: 19px 28px;
  }
}

.container .box9 .box9-content .box9-methods .box9-methods-cont .m12-style p {
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
  color: white;
  -webkit-transition: color 200ms linear 0ms;
  transition: color 200ms linear 0ms;
}

@media (max-width: 1280px) {
  .container .box9 .box9-content .box9-methods .box9-methods-cont .m12-style p {
    font-size: 28px;
  }
}

.container .box9 .box9-content .box9-methods .box9-methods-cont .m34-style {
  width: 100%;
  padding: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 2px 0px 0px;
}

@media (max-width: 1024px) {
  .container .box9 .box9-content .box9-methods .box9-methods-cont .m34-style {
    padding: 19px 28px;
  }
}

.container .box9 .box9-content .box9-methods .box9-methods-cont .m34-style p {
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
  color: black;
  -webkit-transition: color 200ms linear 0ms;
  transition: color 200ms linear 0ms;
}

@media (max-width: 1280px) {
  .container .box9 .box9-content .box9-methods .box9-methods-cont .m34-style p {
    font-size: 28px;
  }
}

.container .box9 .box9-content .box9-methods .box9-methods-cont .m12-logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@media (max-width: 1024px) {
  .container .box9 .box9-content .box9-methods .box9-methods-cont .m12-logo {
    padding: 0px 30px 30px;
  }
}

.container .box9 .box9-content .box9-methods .box9-methods-cont .m12-logo .brlidN {
  width: 24px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0px 16px 0px 0px;
}

.container .box9 .box9-content .box9-methods .box9-methods-cont .m12-logo .brlidN svg {
  max-width: 20px;
  height: auto;
  width: 195px;
}

.container .box9 .box9-content .box9-methods .box9-methods-cont .m12-logo .brlidN svg path {
  fill: white;
  -webkit-transition: fill 200ms linear 0ms;
  transition: fill 200ms linear 0ms;
}

.container .box9 .box9-content .box9-methods .box9-methods-cont .m12-logo .bDdnlG {
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 14px;
}

.container .box9 .box9-content .box9-methods .box9-methods-cont .m12-logo .bDdnlG label {
  color: white;
  -webkit-transition: color 200ms linear 0ms;
  transition: color 200ms linear 0ms;
}

.container .box9 .box9-content .box9-methods .box9-methods-cont .m34-logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container .box9 .box9-content .box9-methods .box9-methods-cont .m34-logo .brlidN {
  width: 24px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0px 16px 0px 0px;
}

.container .box9 .box9-content .box9-methods .box9-methods-cont .m34-logo .brlidN svg {
  max-width: 20px;
  height: auto;
  width: 195px;
}

.container .box9 .box9-content .box9-methods .box9-methods-cont .m34-logo .brlidN svg path {
  fill: black;
  -webkit-transition: fill 200ms linear 0ms;
  transition: fill 200ms linear 0ms;
}

.container .box9 .box9-content .box9-methods .box9-methods-cont .m34-logo .bDdnlG {
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 14px;
}

.container .box9 .box9-content .box9-methods .box9-methods-cont .m34-logo .bDdnlG label {
  color: black;
  -webkit-transition: color 200ms linear 0ms;
  transition: color 200ms linear 0ms;
}

.container .box9 .box9-content .box9-methods .m1 {
  background-color: black;
}

.container .box9 .box9-content .box9-methods .m2 {
  background-color: #393939;
}

.container .box9 .box9-content .box9-methods .m3 {
  background-color: #767676;
}

.container .box9 .box9-content .box9-methods .m4 {
  background-color: #cccccc;
}

.container .last {
  width: 100%;
}

.container .last .box9-content {
  width: 1536px;
  margin: 0px auto;
}

@media (max-width: 1680px) {
  .container .last .box9-content {
    width: 1336px;
  }
}

@media (max-width: 1460px) {
  .container .last .box9-content {
    width: 1136px;
  }
}

@media (max-width: 1280px) {
  .container .last .box9-content {
    width: 960px;
  }
}

@media (max-width: 1024px) {
  .container .last .box9-content {
    width: 100%;
  }
}

@media (max-width: 960px) {
  .container .last .box9-content {
    width: 100%;
    padding: 0px 30px;
  }
}

.container .last .box9-content .box9-content-inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 0px 200px;
}

@media (max-width: 960px) {
  .container .last .box9-content .box9-content-inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0px;
  }
}

.container .last .box9-content .box9-content-inner .box9-title {
  width: 575px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@media (max-width: 1680px) {
  .container .last .box9-content .box9-content-inner .box9-title {
    width: 50%;
  }
}

@media (max-width: 1024px) {
  .container .last .box9-content .box9-content-inner .box9-title {
    margin: 0px 30px 30px;
  }
}

@media (max-width: 960px) {
  .container .last .box9-content .box9-content-inner .box9-title {
    width: 100%;
    margin: 30px 0px;
  }
}

.container .last .box9-content .box9-content-inner .box9-title h2 {
  font-size: 32px;
  line-height: 40px;
  color: white;
  font-weight: 600;
  padding: 0px 0px 0px 16px;
}

@media (max-width: 1024px) {
  .container .last .box9-content .box9-content-inner .box9-title h2 {
    padding: 0px;
  }
}

@media (max-width: 960px) {
  .container .last .box9-content .box9-content-inner .box9-title h2 {
    font-size: 24px;
    line-height: 34px;
  }
}

.container .last .box9-content .box9-content-inner .box9-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 330px 35px 208px;
}

@media (max-width: 1680px) {
  .container .last .box9-content .box9-content-inner .box9-text {
    width: 50%;
    padding: 0px 16px 35px;
  }
}

@media (max-width: 1680px) {
  .container .last .box9-content .box9-content-inner .box9-text {
    width: 50%;
    padding: 0px 16px 35px;
  }
}

@media (max-width: 1024px) {
  .container .last .box9-content .box9-content-inner .box9-text {
    padding: 0px 30px 35px;
  }
}

@media (max-width: 960px) {
  .container .last .box9-content .box9-content-inner .box9-text {
    width: 100%;
    padding: 0px 0px 35px;
  }
}

.container .last .box9-content .box9-content-inner .box9-text .box9-text-top {
  width: 100%;
}

.container .last .box9-content .box9-content-inner .box9-text .box9-text-top p {
  color: white;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.container .last .box9-content .box9-content-inner .box9-text .box9-text-btm {
  width: 100%;
  margin: 70px 0px 0px;
}

@media (max-width: 960px) {
  .container .last .box9-content .box9-content-inner .box9-text .box9-text-btm {
    margin: 30px 0px 0px;
  }
}

.container .last .box9-content .box9-content-inner .box9-text .box9-text-btm a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  color: white;
  text-decoration: none;
}

.container .last .box9-content .box9-content-inner .box9-text .box9-text-btm a:hover span {
  color: white;
  opacity: 0.6;
}

.container .last .box9-content .box9-content-inner .box9-text .box9-text-btm a:hover img {
  color: white;
  opacity: 0.6;
}

.container .last .box9-content .box9-content-inner .box9-text .box9-text-btm a img {
  margin: 0px 16px 0px 0px;
}

.container .last .box9-content .box9-content-inner .box9-text .box9-text-btm a span {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.01rem;
  line-height: 1;
}

.footer-box {
  width: 100%;
  height: 48px;
}

@media (max-width: 1024px) {
  .footer-box {
    height: auto;
    padding: 0px 0px 18px;
  }
}

@media (max-width: 767px) {
  .footer-box {
    display: block;
  }
}

.footer-box .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1536px;
  margin: 0px auto;
}

@media (max-width: 1680px) {
  .footer-box .footer-content {
    width: 1336px;
  }
}

@media (max-width: 1460px) {
  .footer-box .footer-content {
    width: 1136px;
  }
}

@media (max-width: 1280px) {
  .footer-box .footer-content {
    width: 960px;
  }
}

@media (max-width: 1024px) {
  .footer-box .footer-content {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
    padding: 0px 30px;
  }
}

@media (max-width: 960px) {
  .footer-box .footer-content {
    width: 100%;
    padding: 0px 30px;
  }
}

@media (max-width: 670px) {
  .footer-box .footer-content {
    width: 100%;
    padding: 10px 30px 0px;
  }
}

.footer-box .footer-content .logo {
  width: 190px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@media (max-width: 1280px) {
  .footer-box .footer-content .logo {
    width: 40px;
  }
}

@media (max-width: 1024px) {
  .footer-box .footer-content .logo {
    width: 80px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}

.footer-box .footer-content .logo a {
  height: 16px;
  display: block;
  margin: 2px 0px 0px;
}

.footer-box .footer-content .logo .logo-content {
  width: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-box .footer-content .logo .logo-content .logo-box {
  width: 7px;
  height: 7px;
  background-color: white;
  -webkit-transition: all 200ms linear 0ms;
  transition: all 200ms linear 0ms;
  margin-top: 2px;
}

.footer-box .footer-content .logo .logo-content:hover .microsoft-red {
  background-color: #f25022;
}

.footer-box .footer-content .logo .logo-content:hover .microsoft-green {
  background-color: #7fba00;
}

.footer-box .footer-content .logo .logo-content:hover .microsoft-blue {
  background-color: #00a4ef;
}

.footer-box .footer-content .logo .logo-content:hover .microsoft-yellow {
  background-color: #ffb900;
}

.footer-box .footer-content .footer-menu {
  height: 48px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 100px 0px 0px;
}

@media (max-width: 1024px) {
  .footer-box .footer-content .footer-menu {
    width: 100%;
    height: auto;
    padding: 0px;
  }
}

.footer-box .footer-content .footer-menu ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

@media (max-width: 670px) {
  .footer-box .footer-content .footer-menu ul {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer-box .footer-content .footer-menu ul li {
  width: auto;
  color: white;
  font-size: 12px;
  line-height: 48px;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
}

@media (max-width: 670px) {
  .footer-box .footer-content .footer-menu ul li {
    line-height: 30px;
    margin: 0px 20px 0px 0px;
  }
}

.footer-box .footer-content .footer-menu ul li a {
  color: white;
  position: relative;
  text-decoration: none;
}

.footer-box .footer-content .footer-menu ul li a::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -6px;
  width: 100%;
  opacity: 0;
  height: 1px;
  background-color: white;
  -webkit-transition: all 200ms linear 0ms;
  transition: all 200ms linear 0ms;
}

.footer-box .footer-content .footer-menu ul li a:hover::after {
  opacity: 1;
  bottom: -2px;
}

.footer-box .footer-content .footer-menu ul li a:hover {
  color: white;
  opacity: 0.6;
  text-decoration: none;
}

.footer-box .footer-content .ewmKjL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
}

@media (max-width: 1024px) {
  .footer-box .footer-content .ewmKjL {
    width: 50%;
    top: 0px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
        justify-content: flex-end;
    position: absolute;
    right: 30px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 0px;
  }
}

@media (max-width: 500px) {
  .footer-box .footer-content .ewmKjL {
    position: relative;
    width: 100%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
        justify-content: flex-start;
    right: auto;
    left: auto;
    top: auto;
    margin: 16px 0px 0px;
  }
}

.footer-box .footer-content .ewmKjL a {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 500px) {
  .footer-box .footer-content .ewmKjL a {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
        justify-content: flex-start;
  }
}

.footer-box .footer-content .ewmKjL a:hover .linkedin path {
  fill: #0077b5;
}

.footer-box .footer-content .ewmKjL a:hover .dribbble path {
  fill: #ea4c89;
}

.footer-box .footer-content .ewmKjL a:hover .twitter path {
  fill: #38a1f3;
}

.footer-box .footer-content .ewmKjL a:hover .medium path {
  fill: #00ab6c;
}

.footer-box .footer-content .ewmKjL a:hover .facebook path {
  fill: #3b5998;
}

.footer-box .footer-content .ewmKjL a svg {
  width: 20px;
}

.footer-box .footer-content .ewmKjL a svg path {
  fill: white;
  -webkit-transition: fill 200ms linear 0ms;
  transition: fill 200ms linear 0ms;
}
/*# sourceMappingURL=style01.css.map */