@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #03585e;
  margin: 0;
}

.pc {
  display: block;
}

.mobile {
  display: none;
}

.clearfix {
  clear: both;
}

a {
  text-decoration: none;
}

a:visited .t_style {
  color: orange;
}

a:active .t_style {
  /* 編輯超連結的字型樣式 */
  color: white;
}

#all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#navbar {
  width: 300px;
  height: 100vh;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-toggle {
  width: 38px;
  height: 38px;
  background-color: chocolate;
  z-index: 999;
  display: none;
  background-image: url("pic/menu.svg");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

#logo {
  width: 150px;
  height: 150px;
  background-color: wheat;
  margin-top: 75px;
  /* 變成圓形物件 */
  border-radius: 75px;
  border: 4px solid grey;
  background-image: url("pic/dog_logo.jpg");
  background-size: 150px;
  /* 圖片陰影效果 */
  /* box-shadow: 5px 5px 5px #201d1d5b */
}

#menu_box {
  width: 150px;
  /* background-color: teal; */
  margin-top: 50px;
}

ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}

li {
  list-style: none;
  padding: 10px 0;
  /* background-color: cadetblue; */
  margin-bottom: 10px;
}

.t_style {
  padding: 10px 45px;
  color: wheat;
  margin-top: 15px;
}

#content {
  width: calc(100% - 300px);
  height: 100vh;
  background-color: #03585e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("pic/background-316536.jpg");
  background-position: bottom;
  background-size: cover;
}

#content_box {
  /* 為了方便切換1280*1024, 1280px-NAVbar(300px)=context_box(980px) */
  width: 980px;
  /* height: 500px; */
  /* background-color: black;   */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#pic1 {
  background-image: url("pic/p1.jpg");
}

#pic2 {
  background-image: url("pic/p2.jpg");
}

#pic3 {
  background-image: url("pic/p3.jpg");
}

.box_pic {
  width: calc((100% - 20px)/3);
  height: 500px;
  background-size: cover;
  background-position: left;
  float: left;
}

.pic_s {
  width: calc((100% - 20px)/3);
  height: 500px;
  background-size: cover;
  background-position: center;
  float: left;
}

.box_out {
  width: 100%;
  height: 500px;
  line-height: 500px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.box_s {
  width: 100%;
  height: 500px;
  line-height: 500px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.box_out:hover {
  opacity: 0;
}

.box_s:hover {
  opacity: 0;
}
/*# sourceMappingURL=style-v2.css.map */