        body{
            background-color: rgb(3, 88, 94);
        }
        /* 738 x 994 px */
        #all{
            width: 738px;            
            padding: calc(50vh - 497px) 0;
            /* background-color: crimson; */
            margin: 0 auto;
            position: relative;
           
        }
        
        #pic1{
            background-image: url("pic/p1.jpg");    

        }
       
        #pic2{
            background-image: url("pic/p2.jpg");
            margin-right: 10px;
        }

        #pic3{
            background-image: url("pic/p3.jpg");

        }
        
        .box_pic{            
            width: 100%;
            height: 482px; 
            background-size: cover;
            background-position: center;  
            margin-bottom: 10px;          
        }
        .pic_s{            
            width: calc((100% - 10px)/2);
            height: 482px; 
            background-size: cover;
            background-position: center;
            float: left;
        }

        .box_out{
            width: 100%;
            height: 482px;         
            line-height: 500px;
            background-color: rgba(255, 255, 255, 0.5);       
            transition: opacity 1s;      

        }
        .box_s{
            width: 100%;
            height: 100%;          
            background-color: rgba(255, 255, 255, 0.5);       
            transition: opacity 1s;      

        }

        .clear_fix{
            clear: both;
        }


        .box_out:hover {  
            opacity: 0;
        }
        .box_s:hover {  
            opacity: 0;
        }